In [1]:
import pandas as pd
import numpy as np

In [2]:
BOARD_SIZE = 10

In [3]:
board = np.zeros([BOARD_SIZE, BOARD_SIZE], dtype=int)

In [4]:
board[5][5] = 1

In [5]:
board

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [21]:
board_from_csv = pd.read_csv('board.csv', sep=';')
board_from_csv.columns=range(BOARD_SIZE)
board_from_csv

SyntaxError: invalid syntax (446342174.py, line 1)

In [13]:
list(open('board.csv'))

['0;0;0;0;0;0;0;0;0;0\n',
 '0;0;0;0;0;0;0;0;0;0\n',
 '0;0;0;0;0;0;0;0;0;0\n',
 '0;0;0;1;0;0;0;0;0;0\n',
 '0;0;1;1;1;0;0;0;0;0\n',
 '0;0;0;1;0;0;0;0;0;0\n',
 '0;0;0;0;0;0;0;0;0;0\n',
 '0;0;0;0;0;0;0;0;0;0\n',
 '0;0;0;0;0;0;0;0;0;0\n',
 '0;0;0;0;0;0;0;0;0;0\n']

In [12]:
pd.DataFrame({'1':[2], '2':[3]})

   1  2
0  2  3

In [14]:
df

NameError: name 'df' is not defined